name: Auto Assign
on:
  issues:
    types: [opened]
jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - name: 'Auto-assign issue'
      uses: pozil/auto-assign-issue@v1
      with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: jehanvaire,T4rg3n
          numOfAssignee: 1
          abortIfPreviousAssignees: true 
          allowSelfAssign: true